{% extends 'base.html' %}
{% block content %}

<div class="card m-3 p-3">

    <h2 class="text-center mb-4">Terms and Condition</h2>

Businesses must provide clear and accurate details about services offered, pricing, availability, and booking conditions.
It is the business's responsibility to confirm or deny bookings in a timely manner.
Businesses must provide customers with a clear cancellation policy, including how to handle refunds and rebooking.
The business must ensure services are delivered as promised and within the agreed timeframe.
All customer data must be handled securely and in accordance with data protection laws.
The business is responsible for ensuring safety and quality in the delivery of services, adhering to industry standards.
The business can enforce a no-show or late-arrival policy and should communicate this clearly to customers.
In the event of a dispute, the business agrees to work with the customer and resolve issues in a professional manner.
</div>

{% endblock %}