{% extends 'base.html' %}
{% block content %}


<div class="card m-3 p-3">

    <h2 class="text-center mb-4">Terms and Condition</h2>
All bookings are subject to confirmation. You will receive a confirmation email or SMS upon successful booking.
Cancellations must be made at least 24 hours before the scheduled appointment to avoid penalties or fees.
If you are more than 15 minutes late, your booking may be canceled or rescheduled based on the business's discretion.
Changes to your booking must be made at least 24 hours in advance. Any rescheduling is subject to availability.
 Customers are expected to provide accurate details and maintain a respectful attitude when interacting with service providers.
The business is not liable for any loss, injury, or damages resulting from the use of services provided.
Service availability is subject to change, and the business reserves the right to cancel or reschedule bookings as necessary.
</div>









{% endblock %}